.wrapper {
    border-radius: 50px;
    width: 1260px;
    box-shadow: 0 3px 4px rgb(153, 153, 153);
    margin: 0 auto;
    margin-top: 10px;
    background-color: #000000;
    margin-bottom: 20px;
    padding: 11px;
}

.header {
    display: flex;
    gap: 90px;
}

.linkLogo {
    margin-left: 60px;
    display: flex;
    align-items: center;
    gap: 13px;
}

.text {
    color: white;
    font-size: 18px;
}