.wrapper {
    border-radius: 50px;
    width: 1200px;
    box-shadow: 0 3px 4px rgb(206, 205, 205);
    margin: 0 auto;
    margin-top: 10px;
    background-color: #eeecec;
    margin-bottom: 20px;
}

.header {
    display: flex;
    gap: 80px;
    padding: 10px;
    align-items: center;
}