.wrapper {
    margin-left: auto;
    display: flex;
    gap: 12px;
}

.link {
    display: flex;
    align-items: center;
    gap: 8px;
    outline: 1px solid rgb(255, 255, 255);
    border-radius: 40px;
    padding: 4px 12px;
    color: white;
}

.link:hover {
    outline: 2px solid rgb(255, 255, 255);
}