.listItem {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 12px;
    width: 310px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
}

.wraper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: left;
}

.iconUser {
    margin-right: 8px;
    width: 14px;
    height: 14px;
}

.name {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
}


.deleteButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    font-size: 14px;
    border-radius: 50px;
    border: transparent;
    border: 1px solid #ffffff;
    outline: none;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    color: rgb(255, 255, 255);
    width: 76px;
    height: 38px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.deleteButton:hover {
    border: 2px solid #ffffff;
    outline: none;
}

.deleteButton:focus {
    outline: none;
}